aniso8601==9.0.1
anyio==3.5.0
attrs==21.4.0
certifi==2024.7.4
charset-normalizer==2.0.12
click==8.0.4
Deprecated==1.2.13
elastic-transport==8.1.1
elasticsearch==8.1.1
fakeredis==1.7.1
falcon==3.0.1
fastapi==0.75.0
Flask==2.3.2
Flask-RESTful==0.3.9
idna==3.3
importlib-metadata==4.11.3
iniconfig==1.1.1
itsdangerous==2.1.1
Jinja2==3.0.3
Markdown==3.3.6
MarkupSafe==2.1.1
packaging==21.3
pipenv==2022.1.8
pluggy==1.0.0
psutil==5.9.0
py==1.11.0
pydantic==1.9.0
pymongo==4.0.2
pyparsing==3.0.7
pytest==7.1.1
python-on-whales==0.37.0
pytz==2022.1
PyYAML==6.0
redis==4.5.4
redislite==6.0.674960
requests==2.27.1
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
splunk-hec-handler==1.1.0
starlette==0.25.0
tomli==2.0.1
tqdm==4.63.0
typer==0.4.0
typing_extensions==4.1.1
urllib3==1.26.8
virtualenv==16.7.7
virtualenv-clone==0.5.3
Werkzeug==2.2.3
wrapt==1.13.3
zipp==3.7.0
